.fullscreen {
  min-height: 100vh; }

.background-attachment-fixed .container {
  position: relative; }

.background-wrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }
  .background-attachment-fixed .background-wrap {
    clip: rect(0, auto, auto, 0); }
  .background-wrap img {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
    .background-attachment-fixed .background-wrap img {
      position: fixed; }
    .background-attachment-scroll .background-wrap img {
      position: absolute; }
    .background-size-cover .background-wrap img {
      -webkit-object-fit: cover;
      -moz-object-fit: cover;
      object-fit: cover; }

.background-image-container {
  position: relative;
  overflow: hidden; }

.background-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%; }
