
.grid-active  {
	.switch-grid {
		&:focus {
			-webkit-box-shadow: none;
			box-shadow: none;
			background: #f5f5f5;
			color: #555;
			border-bottom-color: #f5f5f5;	
		}
	}
	.wp-editor-container {
		display:none;
	}
}


.grid-view {
	border:1px solid #e5e5e5;
	background:#fff;
	.toolbar {
		background:#e5e5e5;
		padding:5px;
	}
	.containers {
		padding:7px;
	}
}

.container {
	min-height:100px;
	padding:7px;
	background: #f5f5f5;
	border:1px solid #e5e5e5;
	margin-bottom:7px;
	.drag-handle {
		height:10px;
		background:#e5e5e5;
		cursor:move;
	}
	.rows {
		min-height:100px;
	}
}
.row {
	min-height:100px;
	background-image:url('data:image/svg+xml;utf8,<svg width="120px" height="2000px" xmlns="http://www.w3.org/2000/svg" version="1.1"><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="10" y1="0" x2="10" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="20" y1="0" x2="20" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="30" y1="0" x2="30" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="40" y1="0" x2="40" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="50" y1="0" x2="50" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="60" y1="0" x2="60" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="70" y1="0" x2="70" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="80" y1="0" x2="80" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="90" y1="0" x2="90" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="100" y1="0" x2="100" y2="2000"/><line vector-effect="non-scaling-stroke" style="stroke:#0073aa;stroke-width:1px" x1="110" y1="0" x2="110" y2="2000"/></svg>');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color:rgba(0,0,0,0.01);
	margin:10px 0;
	padding-top:10px;
	padding-bottom:10px;
	border:1px dashed #0073aa;
	&:after,
	&:before {
		content:none;
	}
	.cells {
		@include clearfix();
		min-height:100px;
	}
}
.cell {
	position:relative;
	min-height:100px;
	padding:7px;
	box-sizing:border-box;
	background:rgba(0,115,170,0.4);
	.resize-handle {
		position:absolute !important;
		right:0;
		top:0;

		height:100%;
		width:12px;
		background:rgba(0,115,170,0.4);
		cursor:pointer;
		&:hover {
			background:rgba(0,115,170,0.6);
		}
	}
}
.widgets {
	min-height:100px;
	background:rgba(255,255,255,0.5);
}


.drag-resize-image {
	width:10px;
	height:100px;
	background:#f00;
}


.current-grid-item {
	box-shadow:0 0 10px rgba(150,50,0,0.5);
}