
$offset-handle-height: 13px;
$resize-handle-width: 10px;

body {
	&.grid-modal-open {
    	overflow: hidden;
	}
}
.grid-view {
	border:1px solid #e5e5e5;
	background:#fff;
	&,
	* {
		box-sizing:border-box;
	}
	li {
		margin-bottom:0;
	}
	.collection {
		list-style-type:none;
		margin:0;
		min-height:100px;
	    height: 100%;
	}
	.containers {
		padding:5px 10px;
	}
	.grid-toolbar[data-sticky="true"] + .containers {
		margin-top:91px;
	}
	.widgets {
		padding:25px 20px 15px 10px;
	}

	.container,
	.row,
	.cell,
	.widget,
	.containers,
	.rows,
	.cells,
	.widgets {
	    display: block;
		box-sizing:border-box;
	}
	.containers,
	.rows,
	.cells,
	.widgets {
	    clear:both;
	}
	.container,
	.row,
	.cell,
	.widget {
		&:focus {
			box-shadow:0 0 20px rgba( $color-wp-blue, 0.5 );
			box-shadow:0 0 5px 3px rgba( $color-wp-blue,0.8);
			&.locked {
				box-shadow:0 0 5px 3px rgba( 127,127,127,0.5);
			}
		}
		>.sort-handle {
			cursor:move;
		}
		&.locked {
			> .collection > * > .sort-handle {
				cursor:default;
			}
		}
	}
	.container,
	.row,
	.widget {
		background-color:desaturate( lighten($color-wp-blue, 60% ), 70% );
	}
	.container,
	.row,
	.cell {
		min-height:100px;
		margin-top:5px;
		margin-bottom:5px;
		position:relative;
		.display-selector,
		.display-template {
			position:absolute;
			right:10px;
			font-size:0.8em;
			color:#999;
		}
		.display-selector {
			top:0;
			.display-id {
				font-weight:bold;
			}
		}
		.display-template {
			bottom:0;
		}
		&:focus {
			box-shadow:0 0 20px rgba( $color-wp-blue, 0.5 );
			box-shadow:0 0 5px 3px rgba( $color-wp-blue,0.8);
		}
	}

	.container {
		border:1px solid #e5e5e5;
		border-top-width:24px;
		border-bottom-width:16px;
		margin-bottom:10px;
		>.sort-handle {
			position:absolute;
			left:0;
			right:0;
			&.top {
				bottom:100%;
				height:24px;
			}
			&.bottom {
				top:100%;
				height:16px;
			}
		}
		>.display-title,
		>.display-selector {
			top:-22px;
		}
		>.display-selector {
			left:20px;
			.display-id {
				font-weight:bold;
			}
		}
		>.display-title {
			position:absolute;
			left:10px;
			color:#999;
			font-weight:bold;
			font-size:12px;
			small {
				font-size:12px;
				font-weight:normal;
			}
		}
		>.display-template {
			z-index:1;
			bottom:-16px;
		}
		.toggle-collapse {
			position:absolute;
			left:0;
			top:-24px;
			font-size:20px;
			color:#444;
		}
		&.collapsed {
			min-height:45px;
			.toggle-collapse:before {
				content:"\f142";
			}
			.collection {
				min-height:initial;
				overflow:hidden;
				height:0;
			}
		}
		&:focus {
			background-color:#f3f7f9;
		}
	}
	.widgets:before {
		content:'';
		display:block;
		position:absolute;
		top:25px;
		right:20px;
		bottom:0;
		left:10px;
 		border-top:1px solid #0085ba;
		$svg: '<svg width="100px" height="20000px" xmlns="http://www.w3.org/2000/svg" version="1.1"><line vector-effect="non-scaling-stroke" style="stroke:#0085ba;stroke-width:1px" x1="50" y1="0" x2="50" y2="20000"/></svg>';
		background-image: url('data:image/svg+xml;charset=utf-8;base64,' + base64Encode( '#{$svg}' ) );  
		background-repeat:repeat-x;
		background-position:center center;
		background-size:percentage( 1 / 12 ) 100%;
		
	}
	.row {
		$svg: '<svg width="100px" height="20000px" xmlns="http://www.w3.org/2000/svg" version="1.1"><line vector-effect="non-scaling-stroke" style="stroke:#d5d5d5;stroke-width:1px" x1="50" y1="0" x2="50" y2="20000"/></svg>';
		background-image: url('data:image/svg+xml;charset=utf-8;base64,' + base64Encode( '#{$svg}' ) );  
		background-repeat:repeat-x;
		background-position:center center;
		background-size:percentage( 1 / 12 ) 100%;
		//* 
		border-color: #fff;
		border-style:solid;
		background-color:#f5f5f5;
 		border-top:1px solid #d5d5d5;
 		border-bottom:1px solid #d5d5d5;
 		padding-top:5px;
 		padding-bottom:5px;
		&:focus {
			background-color:#f3f7f9;
		}
	}
	@for $i from 1 through 24 {
		&[data-grid-columns="#{$i}"] .row {
			background-size:percentage( 1 / $i ) 100%;
		}
	}
	.cell {
		background:rgba($color-wp-blue,0.2);
		margin-top:5px;
		margin-bottom:5px;
		border:1px solid rgba($color-wp-blue,0.7);
		&.locked {
			.resize-handle,
			.offset-handle {
				display:none;
			}
		}
		.resize-handle {
			position:absolute;
			right:0;
			top:0;
			bottom:0;
			width:$resize-handle-width;
			background:rgba($color-wp-blue,0.25);
			cursor:ew-resize;
			&:hover,
			&:active {
				background:rgba($color-wp-blue,0.5);
			}
		}
		.offset-handle {
			position:absolute;
			top:7px;
			left:$offset-handle-height;
			right:$offset-handle-height + $resize-handle-width;
			height:$offset-handle-height;
			background:rgba($color-wp-blue,0.25);
			cursor:ew-resize;
			&::after,
			&::before {
				content:'';
				position:absolute;
				display:block;
				width:1px;
				height:1px;
				border-width: $offset-handle-height / 2;
				border-style: solid;
				border-color: transparent;
			}
			&::after {
				border-left-color: rgba($color-wp-blue,0.25);
				right:-$offset-handle-height;
			}
			&::before {
				border-right-color: rgba($color-wp-blue,0.25);
				left:-$offset-handle-height;
			}
			&:hover,
			&:active {
				background:rgba($color-wp-blue,0.5);
				&::before {
					border-right-color: rgba($color-wp-blue,0.5);
				}
				&::after {
					border-left-color: rgba($color-wp-blue,0.5);
				}
			}
		}
		&>.collection {
//			margin-right:$resize-handle-width;
		}
		&:focus {
		}
	}
	.widget {
		min-height:75px;
		background:#f0f0f0;
		border:2px solid #ccc;
		padding:0;
		margin-bottom:5px;
// 		&:focus {
// 		}
		.info {
			position:absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			padding:10px;
			overflow:hidden;
		}
		.sort-handle {
			position:absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			z-index:1;
		}
		.widget-title {
			font-weight:bold;
		}
		.widget-type {
			font-weight:normal;
		}
		&:focus {
			box-shadow:0 0 20px rgba( $color-wp-blue,0.8);
			border-color:$color-wp-blue;
			color:darken($color-wp-blue, 20% );
			.info {
				right:auto;
				bottom:auto;
				background:rgba( #f0f0f0, 0.7 );
			}
		}
	}

	.ghost {
		opacity:0.4;
	}
}



@each $size in xs sm md lg {
	[data-view-size="#{$size}"] .col-#{$size}-lock>.resize-handle,
	[data-view-size="#{$size}"] .col-#{$size}-offset-lock>.offset-handle {
		display:none;
	}
}

